@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body{
    margin: 0;
    font-family: "Nunito", sans-serif;
}

header{
    background-color: antiquewhite;
    margin: 0;
    
    
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 0;
    height: 100px;
}
.titulo{
    color: rgb(87, 139, 139);
}

nav{
    height: 50px;
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    
    border-top: solid;
    border-bottom: solid;  
    box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.2);
    
    background-color: white;
}


a{
    text-decoration: none;
    font-size: 18px;
    
    margin-left: 25px;
    margin-right: 25px;  
   
    color:black ;
}

.ancho{
    width: 1000px;
}

main{
    margin: auto;

    min-width: 60%; 
    max-width: 75%;
    border-left: solid 1px rgba(0, 0, 0, 0.4);
    border-right: solid 1px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 3px 5px 2px rgba(0, 0, 0, 0.07);
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;

    background-color: antiquewhite;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.iso {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    
    /* para que cuando le demos al enlace quede un poco mas abajo*/
    padding-top: 70px;
}

p{
    font-size: 20px;
}

#linux{
    padding-top: 70px;
}

#windows{
    padding-top: 70px;
}

#ejecutar{
    padding-top: 70px;
}

.ultimo{
    margin-bottom: 70px;
}